<ul id="nav-menu">
    <li>
        <NavLink href="">
            Accueil
        </NavLink>
    </li>
    <li>
        <NavLink  href="colors">
            Couleurs
        </NavLink>
    </li>
</ul>


