<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="trousse-dev-sdg/dist/css/qc-sdg.min.css" />
    <link rel="stylesheet" href="trousse-dev-sdg/dist/css/qc-doc-sdg.css" />
    <link rel="stylesheet" href="BlazorApp.styles.css" />
    <link rel="stylesheet" href="" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="trousse-dev-sdg/dist/js/qc-sdg.min.js"></script>
    <script src="trousse-dev-sdg/dist/js/qc-doc-sdg.js"></script>
</body>

</html>
