@page "/colors"

<PageTitle>Couleurs</PageTitle>

<!-- couleurs -->
<h1 id="couleurs">Couleurs</h1>
<h2>Couleurs principales</h2>
<div class="color-details">
    <div class="color-sample qc-bg-color-blue-pale"></div>
    <div class="color-description">
        <strong>Bleu pâle</strong><br/>
        <code>--qc-color-blue-pale</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-blue-light"></div>
    <div class="color-description">
        <strong>Bleu clair</strong><br/>
        <code>--qc-color-blue-light</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-blue-regular"></div>
    <div class="color-description">
        <strong>Bleu</strong><br/>
        <code>--qc-color-blue-regular</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-blue-piv"></div>
    <div class="color-description">
        <strong>Bleu piv</strong><br/>
        <code  >--qc-color-blue-piv</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-blue-medium"></div>
    <div class="color-description">
        <strong>Bleu moyen</strong><br/>
        <code  >--qc-color-blue-medium</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-blue-dark"></div>
    <div class="color-description">
        <strong>Bleu foncé</strong><br/>
        <code  >--qc-color-blue-dark, --qc-color-text-primary</code>
    </div>
</div>

<h2>Niveaux de gris</h2>
<div class="color-details">
    <div class="color-sample qc-bg-color-grey-pale"></div>
    <div class="color-description">
        <strong>Gris pâle</strong><br/>
        <code>--qc-color-grey-pale</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-grey-light"></div>
    <div class="color-description">
        <strong>Gris clair</strong><br/>
        <code  >--qc-color-grey-light</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-grey-regular"></div>
    <div class="color-description">
        <strong>Gris</strong><br/>
        <code  >--qc-color-grey-regular</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-grey-medium"></div>
    <div class="color-description">
        <strong>Gris moyen</strong><br/>
        <code  >--qc-color-grey-medium</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-grey-dark"></div>
    <div class="color-description">
        <strong>Gris foncé</strong><br/>
        <code  >--qc-color-grey-dark</code>
    </div>
</div>

<h2>Couleurs fonctionnelles</h2>
<h3>Rouges</h3>
<div class="color-details">
    <div class="color-sample qc-bg-color-pink-pale"></div>
    <div class="color-description">
        <strong>Rose pâle</strong><br/>
        <code  >--qc-color-pink-pale</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-pink-regular qc-bg-color-accent"></div>
    <div class="color-description">
        <strong>Rose</strong><br/>
        <code  >--qc-color-pink-regular, --qc-color-accent</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-red-regular"></div>
    <div class="color-description">
        <strong>Rouge</strong><br/>
        <code  >--qc-color-red-regular, --qc-color-error</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-red-dark"></div>
    <div class="color-description">
        <strong>Rouge foncé</strong><br/>
        <code  >--qc-color-red-dark, --qc-color-danger</code>
    </div>
</div>
<h3>Verts</h3>
<div class="color-details">
    <div class="color-sample qc-bg-color-green-pale"></div>
    <div class="color-description">
        <strong>Vert pâle</strong><br/>
        <code  >--qc-color-green-pale</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-green-regular"></div>
    <div class="color-description">
        <strong>Vert</strong><br/>
        <code  >--qc-color-green-regular, --qc-color-success</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-green-dark"></div>
    <div class="color-description">
        <strong>Vert foncé</strong><br/>
        <code  >--qc-color-green-dark</code>
    </div>
</div>

<h3>Jaunes</h3>
<div class="color-details">
    <div class="color-sample qc-bg-color-yellow-pale"></div>
    <div class="color-description">
        <strong>Jaune pâle</strong><br/>
        <code  >--qc-color-yellow-pale</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-yellow-regular"></div>
    <div class="color-description">
        <strong>Jaune</strong><br/>
        <code  >--qc-color-yellow-regular</code>
    </div>
</div>
<div class="color-details">
    <div class="color-sample qc-bg-color-yellow-dark"></div>
    <div class="color-description">
        <strong>Jaune foncé</strong><br/>
        <code>--qc-color-yellow-dark</code>
    </div>
</div>
<h3>Violet</h3>
<div class="color-details">
    <div class="color-sample qc-bg-color-purple"></div>
    <div class="color-description">
        <strong>Violet</strong><br/>
        <code >--qc-color-purple, --qc-color-link-visited</code>
    </div>
</div>

<hr />

